<div class="container">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" hideToggle *ngFor="let slide of slides; let i=index; let first=first; let last=last;">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ slide.title }}</mat-panel-title>
      </mat-expansion-panel-header>

      <markdown *ngIf="slide.doc" [src]="slide.doc"></markdown>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()" *ngIf="!first">Previous</button>
        <button mat-button color="primary" (click)="nextStep()" *ngIf="!last">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
</div>
