@import "~@hgb/core/less/hgb-app-defaults.less";
@import "./less/app-mixins.less";

body {
  background: #eee;
}

@containerMargins: 20px;
.container {
  // background: #fff;
  // padding: 10px;
  // .hgb-box-shadow1();

  min-height: calc(100vh - 2*@containerMargins);
  margin-top: @containerMargins;
  margin-bottom: @containerMargins;
}

markdown img {
  border: 1px solid #ccc;
  max-width: 100%;
  .hgb-box-shadow1();
}